body {
  display: flex;
  font-family: 'Open Sans', sans-serif;
}

.over {
  outline: 2px dashed green;
}

.container {
  width: 50%;
  margin: auto;
  overflow: hidden;
  border-radius: 5px;
  background: #f0f0f0;
}

.friends {

  &_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #ff8663;
  }

  &_header {
    color: #fff;
  }

  &_close {
    font-size: 24px;
    color: #fff;
  }

  &_search {
    position: relative;
    padding: 10px;

    &-icon {
      position: absolute;
      top: 15px;
      left: 20px;
      color: darken(#f0f0f0, 25%);
    }

    &-input {
      min-height: 25px;
      width: 300px;
      padding: 5px 20px 5px 40px;
      border: 0;
      border-radius: 15px;
      font-size: 14px;
    }
  }

  &_content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #fff;
  }

  &_left,
  &_right {
    width: 50%;
  }

  &_right {
    margin-left: 20px;
  }

  &_title {
    margin-bottom: 20px;
    font-weight: bold;
    color: #4f4f4f;
  }

  &_list,
  &_list-added {
    height: 400px;
    overflow-y: auto;
  }

  &_list {
    border-right: 1px solid grey;
  }

  &_bottom {
    padding: 10px;
    text-align: right;
  }

  &_save-button {
    display: inline-block;
    min-width: 100px;
    padding: 7px;
    border: 0;
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
    background: #ff8663;
    color: #fff;
    transition: 0.3s;

    &:hover {
      background: darken(#ff8663, 10%);
    }
  }
}

.user {
  @extend %clearfix;
  padding: 10px;
  color: #4f4f4f;
  cursor: move;

  img,
  name {
    display: inline-block;
    vertical-align: middle;
  }

  &:hover {
    background: lighten(#4f4f4f, 65%);
  }

  .fa {
    float: right;
    margin-top: 15px;
    font-size: 21px;
  }
}